*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.town{
    background-image: url(../images/towm1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    text-align: center;
}
nav{
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 100;
    overflow: hidden;
    background-image: url(../images/towm01.jpg);
    background-size: cover;
    
}
nav h2{
    display: inline-block;
   color: white;
    width: 49%;
    font-size: xx-large;
    text-align: left;
    padding-left: 60px;
}
nav ul{
    
    display: inline-block;
    width: 49%;
    text-decoration: none;
    list-style: none;
    text-align: right;
}
nav li{
    display: inline-block;
}
nav a{
    width: 30%;
    color: white;
    padding-right: 18%;
    font-size: large;
    
}
.town a:hover{
    color: aqua;
    
}
.town h2:hover{
    color: aqua;
}

div h1{
    font-size: 100px;
    padding-top: 200px;
    color: white;
    text-align: center;

}
div h3{
    font-size: 30px;
    padding-top: 20px;
    color: white;
    text-align: center;
}
div button {
    align-items: center;
    margin-top: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.town button:hover{
    background-color: aqua;
    color: white;
}

 .home i{
    font-size: 80px;
 }
.pic{
    width: 49%;
    display: inline-block;
    padding-right: 80px;
   
}
.pic img{
    width: 100%;
    height: 100%;
}
.intro{
    width: 42%;
    display: inline-block;
    text-align: left;
    margin-top: 3px;
   
}
.intro h2{
    
    font-size:50px;
    color: blue;
}
.intro p{
   
    font-size: 25px;
    padding: 0;
}
.r{
    background-color: blue;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    margin-top: 10px;
}
.introduction{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.divs{
    padding-top: 100px;
}
.divs div{
    display: inline-block;
    width: 33.1%;
    text-align: center;
    margin: auto;
    
}
.divs i{
    font-size: 80px;
    padding: 20px;
    padding-bottom: 50px;
    color: rgb(57, 79, 202);
}
.divs p{
    box-sizing: border-box;
    text-align: left;
    font-size: 22px;
    color: rgb(113, 112, 112);
}
.divs h4{
    font-size: 32px;
    color: rgb(57, 79, 202);
    padding-bottom: 30px;
}
.ourWork h2{
    text-align: center;
    font-size: 42px;
    padding-top: 200px;
    padding-bottom: 30px;
   color: rgb(57, 79, 202);
}
.ourWork p{
    font-size: 18px;
    text-align: center;
}
.ourWork div{
    width: 90%;
    margin: auto;
    padding-top: 90px;
    padding-left: 40px;
    padding-bottom: 40px;
}
.ourWork img{
    width: 19%;
    padding: 20px;
}
.ourWork img:hover{
    opacity: 70%;  
}
.endt{
      padding-top: 30px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
  
}
.end{
    margin: auto;
    color: white;
    width: 80%;
 
}
.end h2{
    text-align: left;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-decoration-line: underline;
}
.p{
    font-size: larger;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 50px;
}
.end div{
    display: inline-block;
    width: 48%;
}
.end i{
    display: inline-block;
}
.end a{
    display: inline-block;
    font-size: 40px;
    margin: 50px;
    color: white;
}
.end div p{
    display: inline-block;
}
.end input[type="email"]{
    font-size: 30px;
    border: 3px solid #ffffff;
    border-radius: 4px;
    text-align: right;
    padding-right: 20px;
    width: 45%;
    background-color: transparent;
    
    
}
.end input[type="submit"]{
    width: 30%;
    font-size: 30px;
    border: 3px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
   margin-right: 20px;
   margin-top: 50px;
   color: rgb(247, 245, 245);
   background-color: transparent;
}
 .left{
    text-align: left;
 }
 .right{
    text-align: right;
    box-sizing: border-box;
    
 }
 .Copyright{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
 }
 .end a:hover{
    color: blue;
 }